.top-image
  width 100%
  height 563px


.title
  text-align center
  font-size 1.375rem
  font-weight 600
  line-height 1.3em

.form
  padding 70px 0
  &__block
    width 67%
    flexRow()
    margin auto
    margin-top 75px
    .title
      color #FFFFFF
      text-align center
      width 100%
  &__img
    width 100%
    max-width 253px
    margin-bottom: -60px;
    margin-top: 66px;
    margin-right: 25px;
.form__info
  flexRow()
.content_color
  background-color #0372bf

.form__control
  width 250px
  input
    padding-left 18px
    border none
    height 50px
    margin-bottom 10px
    width 100%

.form__content
  flexColumn()
  width 100%
.form__content-inner
  flexRow()
  width 100%
  margin-top 40px

.text
  margin-top 90px
  p
    line-height 1.2em
    font-family 'SF UI Display'
    text-align center
    margin-top 30px

#map
  width 100%
  height 800px

.oofers
  padding 60px 0

.tooltip
  color fontColor
  text-align center
  margin 20px 0
  margin-left 25px
  .footer_tel
    color fontColor
    font-size 1.625rem
    font-family 'SF UI Display'
  &__info
    margin auto
    margin-top 15px
    max-width 230px

    flexColumn()
  span
    margin-bottom 10px
  .btn_form
    margin-top 15px
    font-size 1.125rem


.price
  background-color #0372bf
  padding 20px 0
  color #FFFFFF
  &__btn
    color #FFFFFF
    font-size 1.125rem
    background-color transparent
    padding 14px 30px
    border 1px solid
    font-family 'SF UI Display'
    cursor pointer
    &:hover
      background-color #e30612
      border-color #e30612
  .content
    flexRow()
  .telephone__link, .telephone__info
    color #FFFFFF
