footer
    .content
        .footer
            .copyright
                span © 2017 Anex Tour | Все права защищены
                a(href="tel:+74951627503").footer_tel +7 (495) 162-75-03

            ul.menu.menu_footer
                li
                    a(href="#search") Поиск тура
                li
                    a(href="#hot") Горящие предложения
                li
                    a(href="#choose") Подбор с профессионалом
                li
                    a(href="#map") Контакты
