footer
    .content
        .footer
            .copyright © 2017 Anex Tour | Все права защищены

            ul.menu.menu_footer
                li
                    a(href="#") Поиск тура
                li
                    a(href="#") Горящие предложения
                li
                    a(href="#") Подбор с профессионалом
                li
                    a(href="#") Контакты
        a(href="tel:+74951627503").footer_tel +7 (495) 162-75-03