header
    .content
        a(href="#").logo
            img(src="./static/img/general/page-1.svg").logo__big
            img(src="./static/img/general/logo-min.svg").logo__min
            span Туристическое агентство
        .info
            .info__schedule Пн – Вс: c 10:00 до 22:00
            a(href="#map").info__link Где купить?
        button.btn.js__pop-callback Рассчитать тур
        .telephone
            a(href="tel:+74951627503").telephone__link +7 (495) 162-75-03
            a(href="#" data-title="Заказать обратный звонок").telephone__info.js-callback Получить лучшую цену


