section.block-menu
    .content
        ul.menu
            li
                a(href="#search") Поиск тура
            li
                a(href="#hot") Горящие предложения
            li
                a(href="#choose") Подбор с профессионалом
            li
                a(href="#map") Контакты
