section.block-menu
    .content
        ul.menu
            li
                a(href="#") Поиск тура
            li
                a(href="#") Горящие предложения
            li
                a(href="#") Подбор с профессионалом
            li
                a(href="#") Контакты
