footer
  background-color #44545f
  padding 20px 0
  color #FFFFFF
  font-family: 'SF UI Display';
  font-size 0.8125rem


.footer
  flexRow()
  &_tel
    color #FFFFFF

.menu_footer
  flexRow()
  width 100%
  max-width 485px
  li a
    font-size 0.8125rem


