

header
  padding 12px 0
  .content
    flexRow()

.logo
  flexColumn()
  &__big
    width 150px
  span
    font-weight 600
    font-size 0.75rem
    margin-top 7px
    display block
    color fontColor
  &__min
    display none
    width 71px

.info
  font-weight 500
  font-family 'SF UI Display'
  font-size 0.9375rem
  &__schedule
    color fontColor
  &__link
    color linkColor
    display block
    margin-top 5px


.telephone
  font-weight 500
  font-family 'SF UI Display'
  flexColumn()
  align-items flex-end
  &__link
    font-size 1.375rem

  &__info
    color linkColor
    display block
    margin-top 5px
    font-size 0.9em
