extends ../layout/main

block title
	| Главная страница

block content
	section.form
		.content
			h2.title Подобрать тур с профессионалом
			.form__info
				.form__block
					form.form__content
						.form__control
							input(placeholder="Имя")
						.form__control
							input(placeholder="Телефон")
						.form__control
							input(placeholder="E-mail")
						button.btn.btn_form(type="submit") Подобрать тур
					img(src="./static/img/general/tiket.png").form__img
		.content
			.text
				p Греция - древнейшая страна с богатой античной культурой. Туры в Грецию из Москвы, всегда пользовались популярностью среди иностранных туристов. Сюда приезжают, чтобы посетить руины величественных городов древности и насладиться пейзажами песчаных пляжей. Туры в Грецию не зря пользуются популярностью у туристов. При относительно невысоких ценах на путевки, в Греции вас ждет настоящий европейский сервис, отменная кухня и множество достопримечательностей.

				p Греция расположилась в южной части европейского континента. Большая часть жителей исповедуют православие. Страна занимает территорию на Балканском полуострове и большом количестве мелких и крупных островов, поэтому со многих сторон омывается разными морями: с востока – Эгейским и Фракийским; с запада – Ионическим; с юга – Критским и Средиземным.

				p Туры в Грецию – одно из популярных в России и мире туристических направлений, объединяющих все преимущества. Сочетание развитой культуры, приятного климата, уникальной кухни, богатой истории и возможности шопинга сделали эту страну одной из самых посещаемых

	section#map
