.content
  width 100%
  max-width 1140px
  margin auto

.btn
  background-color #e30613
  border-radius 76px
  border none
  padding 10px 40px
  color #FFFFFF
  font-size 1.125rem
  cursor pointer
  &:hover
    background-color darken(#e30613, 10%)
  &_form
    border-radius 0
    text-transform uppercase
    margin-top 30px
    padding 15px 42px