@media screen and (max-width: 1000px)
  .content
    width 97%


@media screen and (max-width: 768px)
  .logo__min
    display block
  .logo__big
    display none
  .logo span
    display none
  .telephone
    font-size 1.125rem
  .menu li a
    font-size 0.8125rem
  .form__block
    max-width 90%

  .footer_tel
    margin-top 20px
    display block


  .menu.menu_footer
    width 100%


@media screen and (max-width: 700px)
  .logo, .telephone
    order 0
  .info
    order 1
    font-size 0.75rem
  .btn
    font-size 0.875rem
    margin-top 16px
    order 1
  .menu li a
    padding 5px 0
  .menu
    padding 15px 0
    width 80%
    margin auto
  header
    padding 12px 10px
  .form__block
    flexColumn()
    margin-top 43px
  .form__img
    margin-left -35px
    margin-top 60px
