doctype html
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		meta(http-equiv='X-UA-Compatible', content="IE = edge")
		meta(name="viewport" content="width=device-width,initial-scale=1")
		meta(name="keywords" content="")
		link(rel="stylesheet" type='text/css' href="static/fonts/fonts.css")
		link(rel="stylesheet" type='text/css' href="static/css/main.css")
		link(rel="stylesheet" type='text/css' href="static/css/pickmeup.css")

		title
			block title
	body
		.wrapper
			include ../modules/header
			include ../modules/menu
			block content
		include ../modules/footer
		script(src="static/js/jquery.js")
		script(src="static/js/libs.min.js")
		script(src="static/js/main.js")
		script(src="static/js/jquery.pickmeup.min.js")
		script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8ihizZtgiNr6RtnmNedVLoUiHyrJWAPI&callback=initMap" async defer)


